@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

.info {
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  .about {
    margin-top: 10px;
    max-height: 65vh;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.568);
    overflow: auto;
    font-family: "Martian Mono", monospace;
    font-size: 20px;
    font-weight: 300;
    p {
      text-align: start;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .me {
    line-height: 30px;
  }
}
